<section *ngIf="node">
  <div class="title">
    <h2>{{ node.name }}</h2>
    <span>{{ node.version }}</span>
  </div>
  <div class="actions" *ngIf="!node.disabled">
    <button class="btn btn-blue" (click)="openLogs()"><fa-icon [icon]="fa.logs"></fa-icon>See logs</button>
    <button class="btn btn-blue" (click)="openTscLogs()" *ngIf="!node.notChecked && !node.checking"><fa-icon [icon]="fa.tsc"></fa-icon>See tsc logs</button>
    <button class="btn btn-blue" *ngIf="node.notChecked"><fa-icon [icon]="fa.build"></fa-icon>Compile</button>
    <button class="btn btn-blue" *ngIf="!node.notChecked && !node.checking"><fa-icon [icon]="fa.build"></fa-icon>Recompile</button>
    <button class="btn btn-blue" (click)="mila.start(node.name)" *ngIf="node.canBeStarted"><fa-icon [icon]="fa.start"></fa-icon>Start</button>
    <button class="btn btn-red" (click)="mila.stop(node.name)" *ngIf="node.isRunning"><fa-icon [icon]="fa.stop"></fa-icon>Stop</button>
    <button class="btn btn-blue" (click)="mila.restart(node.name)" *ngIf="node.isRunning"><fa-icon [icon]="fa.refresh"></fa-icon>Restart</button>
    <button class="btn btn-blue" *ngIf="node.isRunning"><fa-icon [icon]="fa.start"></fa-icon>Restart on another port</button>
  </div>
  <div class="general-infos">
    <span>Service status: {{ node.status }}</span>
    <span>Allocated port: {{ node.port }}</span>
    <span>Transpiling status: {{ node.transpiled }}</span>
    <span>Type-checking status: {{ node.typeChecked }}</span>
    <span>Last type-checking: {{ node.lastTypeCheck }}</span>
  </div>
  <div class="metrics">

  </div>
</section>
