$anthracite: #303030;
$anthracite_lighter: #3c3c3c;
$red: #e53935;
$bright-red: #ff1744;
$grey: #616161;
$green: #43a047;
$blue: #1565c0;
$orange: #f57c00;
$header_height: 64px;
$header_border: 2px;
$light_grey: #c0c0c0;
