<html>
<head>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>
<body>
<header>
  <h1>Microλambda</h1>
</header>
<p *ngIf="(mila.connected$ | async) === false">Waiting for mila server</p>
<rsz-layout *ngIf="(mila.connected$ | async) === true" class="row main-content" [rFlex]="true">
  <rsz-layout class="cell services" [directions]="['right']" [rFlex]="true">
    <nav class="tab-header">
      <ul>
        <li (click)="nodeList='packages'" [ngClass]="{active: nodeList === 'packages'}">Packages</li>
        <li (click)="nodeList='services'" [ngClass]="{active: nodeList === 'services'}">Services</li>
        <li (click)="nodeList=null" [ngClass]="{active: nodeList == null}">All</li>
      </ul>
    </nav>
    <app-nodes-list [filter]="nodeList"></app-nodes-list>
  </rsz-layout>
  <rsz-layout class="cell logs" [directions]="['none']" [rFlex]="false">
    <nav class="tab-header">
      <ul>
        <li *ngFor="let tab of (tabs.tabs$ | async)" [ngClass]="{active: tab === (tabs.currentTab$ | async)}" (click)="tabs.selectTab(tab)">
          {{ tab.name }}
          <span class="close-tab" *ngIf="tab.closable" (click)="tabs.deleteTab(tab.name)"><fa-icon [icon]="faTimes"></fa-icon></span>
        </li>
      </ul>
    </nav>
    <ng-container [ngSwitch]="(tabs.currentTab$ | async).type">
      <app-events-log *ngSwitchCase="'events-log'"></app-events-log>
      <app-node-details *ngSwitchCase="'node-details'"></app-node-details>
      <app-service-logs *ngSwitchCase="'service-logs'"></app-service-logs>
      <app-tsc-logs *ngSwitchCase="'tsc-logs'"></app-tsc-logs>
      <p *ngSwitchDefault>Unknown tab type</p>
    </ng-container>
  </rsz-layout>
</rsz-layout>
</body>
</html>
