section {
  height: calc(100vh - 120px);
  padding: 10px;
}

ul {
  height: calc(100vh - 175px);
  overflow-y: scroll;
}

span {
  margin: 0 2px;
}

.level {
  &.cyan {
    color: #00e5ff;
  }
  &.blue {
    color: #3d5afe;
  }
  &.green {
    color: #b0ff57;
  }
  &.orange {
    color: #ffc400;
  }
  &.red {
    color: #ff1744;
  }
}

.date {
  color: #616161;
}

.scope {
  font-weight: bold;
  color: white;
}

.filters {
  cursor: pointer;
  background-color: #616161;
  height: 20px;
  width: 100px;
  .trigger {
    background-color: #616161;
    padding: 2px 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    span {
      display: flex;
      fa-icon {
        margin-right: 5px;
        width: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .options {
    position: absolute;
    z-index: 10;
    width: 100px;
    height: 120px;
    background-color: #616161;
  }
  .silly {
    color: #00e5ff;
  }
  .debug {
    color: #3d5afe;
  }
  .info {
    color: #b0ff57;
  }
  .warn {
    color: #ffc400;
  }
  .error {
    color: #ff1744;
  }
  li {
    span {
      display: flex;
    }
    fa-icon {
      margin-right: 5px;
      width: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    fa-icon.check {
      margin: 0;
    }
    padding: 2px 7px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
